body {
  background-color: rgb(220, 218, 218);
  margin: 0;
  font-family: "Roboto";
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
